/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(43, 50, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #4cd137;
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #4cd137;
}

.inp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.inp input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(43, 50, 56); 
    color: #4cd137;
}

.inp input:focus {
    outline: none;
    border-color: #4cd137;
    box-shadow: 0 0 5px #4cd137;
}

p {
    margin-bottom: 20px;
    color: white;
}

p a {
    color: white;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

button {
    background-color:#4cd137;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    margin: 0 auto; 
    display: block; 
}
